
	<section class='recipeform'>
	<h1>Add a new recipe</h1> 
		<form class='add-a-recipe' ng-submit='addrec.submitRecipe(addarec.newRec)'>
				<label><h2>Recipe Name</h2></label>	
		<input type='text' class='recipename' ng-model='addarec.newRec.recipename' 
		placeholder='Recipe Name' value='recipename'>	
		<label><h2>Grains</h2></label>	
		<section class='grainssection'>	
		<input type='text' class='addgrain ing' ng-model='addarec.newRec.grain1' 
	 placeholder='Type of Grain'>
		<input type='number' class='grainnumber qty' ng-model='addarec.newRec.grainqty1'
	 placeholder='lbs' step='any'><br>
		<input type='text' class='addgrain ing' ng-model='addarec.newRec.grain2' 
	 placeholder='Type of Grain'>
		<input type='number' class='grainnumber qty' ng-model='addarec.newRec.grainqty2'
	 placeholder='lbs' step='any'><br>
		<input type='text' class='addgrain ing' ng-model='addarec.newRec.grain3' 
	 placeholder='Type of Grain'>
		<input type='number' class='grainnumber qty' ng-model='addarec.newRec.grainqty3'
	 placeholder='lbs' step='any'></br>
		<input type='text' class='addgrain ing' ng-model='addarec.newRec.grain4' 
	 placeholder='Type of Grain'>
		<input type='number' class='grainnumber qty' ng-model='addarec.newRec.grainqty4'
	 placeholder='lbs' step='any'><br>
		<input type='text' class='addgrain ing' ng-model='addarec.newRec.grain5' 
	 placeholder='Type of Grain'>
		<input type='number' class='grainnumber qty' ng-model='addarec.newRec.grainqty5'
		placeholder='lbs' step='any'><br>
		</section>

		<label><h2>Hops</h2></label>
		<section class='hopssection'>	
		<input type='text' class='addhops ing' ng-model='addarec.newRec.hop1' 
	 placeholder='Type of Hops'>	
		<input type='number' class='hopnumber qty' ng-model='addarec.newRec.hopqty1' 
	 placeholder='ozs' step='any'><br>	
		<input type='text' class='addhops ing' ng-model='addarec.newRec.hop2' 
	 placeholder='Type of Hops'>	
		<input type='number' class='hopnumber qty' ng-model='addarec.newRec.hopqty2' 
	 placeholder='ozs' step='any'><br>	
		<input type='text' class='addhops ing' ng-model='addarec.newRec.hop3' 
	 placeholder='Type of Hops'>	
		<input type='number' class='hopnumber qty' ng-model='addarec.newRec.hopqty3' 
	 placeholder='ozs' step='any'><br>	
		<input type='text' class='addhops ing' ng-model='addarec.newRec.hop4' 
	 placeholder='Type of Hops'>	
		<input type='number' class='hopnumber qty' ng-model='addarec.newRec.hopqty4' 
	 placeholder='ozs' step='any'><br>	
		<input type='text' class='addhops ing' ng-model='addarec.newRec.hop5' 
	 placeholder='Type of Hops'>	
		<input type='number' class='hopnumber qty' ng-model='addarec.newRec.hopqty5' 
	 placeholder='ozs' step='any'><br>	
		</section>		
	
		<label><h2>Other Additions</h2></label>
		<section class='othersection'>	
		<input type='text' class='addother ing' ng-model='addarec.newRec.other1' 
	 placeholder='Misc. Addition'>
		<input type='number' class='miscnumber qty' ng-model='addarec.newRec.otherqty1'
	 placeholder='ozs' step='any'><br>
		<input type='text' class='addother ing' ng-model='addarec.newRec.other2' 
	 placeholder='Misc. Addition'>
		<input type='number' class='miscnumber qty' ng-model='addarec.newRec.otherqty2'
	 placeholder='ozs' step='any'><br>
		<input type='text' class='addother ing' ng-model='addarec.newRec.other3' 
	 placeholder='Misc. Addition'>
		<input type='number' class='miscnumber qty' ng-model='addarec.newRec.otherqty3'
	 placeholder='ozs' step='any'><br>
		</section>	
		<label><h2>Yeast</h2></label>
		<section class='yeastsection'>	
		<input type='text' class='addyeast ing' ng-model='addarec.newRec.yeast1' 
	 placeholder='Yeast Strain'>
		<input type='number' class='yeastnumber qty' ng-model='addarec.newRec.yeastqty1'
	 placeholder='pkgs'><br>	
		</section>
		<div class='buttonwrap'>	
				<button class='addrecipebut' value='Add Recipe'>
						<i class="fa fa-plus-circle"></i> Add Recipe</button>	
		<div class='canceladd'><a ui-sref='landing.recipe' class='canceladdrec'>
					<i class="fa fa-times-circle"></i> Cancel</a></div> 
		</div>
		</form>	
	</section>		
  
  <div class="footer">
    <p>This project is open source! Open a pull request with ideas and/or 
	solutions <a href='https://github.com/jrutishauser/hausbrewer/'>hausbrewer
	on github</a></p>
  </div>

