
  	<div class='landingtitle'>
    	<h1>Brew Management</h1>
		<p>Good to see you again {{land.user.fullName}}. 
		What are you brewing today?</p>
	</div><!--landing title-->
	<nav class='landingnav'>	
			<a ui-sref='landing.recipe' ng-click='land.select("one")' 
				ng-class='{active: land.selected === "one"}'>Recipe</a>
		<a ui-sref='landing.ferment' ng-click='land.select("two")' 
				ng-class='{active: land.selected === "two"}'>Ferment</a>	
	</nav>	
	<div ui-view></div><!--view for recipes and ferment show here--> 
  <hr>
  <div class="footer">
    <p>This project is open source. Open a pull request with ideas and/or 
	solutions <a href='https://github.com/jrutishauser/hausbrewer/'>hausbrewer
	on github</a></p>
  </div>

