body {
  margin: 0;
}
a {
  text-decoration: none;
}
.logincont {
		text-align: center;
		clear: both;
	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 2em;
	}
	hr {
		margin-top: 4em;
	}
	h1 {
		margin-bottom: 0;
	}
}
.container {
 	width: 100%;
}
.landingtitle {
	clear: both;
	padding-left: 1em;
	padding-right: 1em;	
	h1 {
		text-align: center;
	}
}
.landingnav {
		text-align: center;
	a { 
		display: inline-block;
		margin-right: 0.5em;
		background-color: #FEFDFD;
		height: 3em;
		width: 5em;
		line-height: 3em;
		border-radius: 10px 10px 0 0;
	}
	a.active{
		background-color: #FAFAFA;
	}
}
.fermcard {
	background-color: #FAFAFA;
	padding: 1em;
   	h2 {
		margin-top: 0;
		text-align: center;
	}	
}
.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  background-color: #222;

  &>a {
    float: left;
    color: lightgrey;
    padding: 15px 15px;
    font-size: 1.5em;
    height: 50px;
  }

  ul {
    float: left;
    padding: 0;
    margin: 0;

    li {
      float: left;
      position: relative;
      display: block;

      a {
        color: white;
        position: relative;
        display: block;
      	padding: 15px;
		}
      &.active a {
        background-color: black;
      }
    }
  }
}
.recipecard {
	background-color: #FAFAFA;
	padding: 1em;
	font-size: 1.25em;
   	h2 {
		margin-top: 0;
		text-align: center;
	}
	a {
		color: darkgreen;
	}	
}
.recipeform {
	label {
		display: block;
		margin-top: 1em;
	}
	input { 
		margin: 0 auto;
	}
	button {
		margin-top: 1em;
		font-size: 1.5em;
		color: green;
		margin-bottom: 0.5em;
	}
	.qty {
		width: 4em;	
	}
	.ing {
	}
}
.canceladdrec {
	color: red;
}
.objcontainer {
	background-color: #FAFAFA;
	border-radius: 6px;
	text-align: center;
	clear: both;
}
hr {
  clear: both;
}
// injector
// endinjector
