body {
  margin: 0;
}
a {
  text-decoration: none;
}
.container {
  width: 100%;
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  background-color: #222;

  &>a {
    float: left;
    color: lightgrey;
    padding: 15px 15px;
    font-size: 1.5em;
    height: 50px;
  }

  ul {
    float: left;
    padding: 0;
    margin: 0;

    li {
      float: left;
      position: relative;
      display: block;

      a {
        color: white;
        position: relative;
        display: block;
      	padding: 15px;
		}
      &.active a {
        background-color: black;
      }
    }
  }
}

.objcontainer {
	background-color: gainsboro;
	border-radius: 6px;
	text-align: center;
	clear: both;	
}
hr {
  clear: both;
}
// injector
// endinjector
