
		<section class='inglist' ng-show='singlerec.step === 1'>	
		<h1>{{singlerec.userInfo.recipename}}</h1>
		<section class='ingbuttonspg'>	
			<a ui-sref='landing.recipe'>back</a>
			<a ng-click='singlerec.stepfor()'>brew</a>		
		</section><!--ingbuttonspg -->
		<h2>Grains</h2>
		<span>{{singlerec.userInfo.grainqty1}}</span>	
		<span>{{singlerec.userInfo.grain1}}</span><br>	
		<span>{{singlerec.userInfo.grainqty2}}</span>
		<span>{{singlerec.userInfo.grain2}}</span><br>
		<span>{{singlerec.userInfo.grainqty3}}</span>	
		<span>{{singlerec.userInfo.grain3}}</span><br>
		<span>{{singlerec.userInfo.grainqty4}}</span>
		<span>{{singlerec.userInfo.grain4}}</span><br>
		<span>{{singlerec.userInfo.grainqty5}}</span>	
		<span>{{singlerec.userInfo.grain5}}</span><br>
		<h2>Hops</h2>		
		<span>{{singlerec.userInfo.hopqty1}}</span>	
		<span>{{singlerec.userInfo.hop1}}</span><br>
		<span>{{singlerec.userInfo.hopqty2}}</span>	
		<span>{{singlerec.userInfo.hop2}}</span><br>
		<span>{{singlerec.userInfo.hopqty3}}</span>	
		<span>{{singlerec.userInfo.hop3}}</span><br>
		<span>{{singlerec.userInfo.hopqty4}}</span>	
		<span>{{singlerec.userInfo.hop4}}</span><br>
		<span>{{singlerec.userInfo.hopqty5}}</span>	
		<span>{{singlerec.userInfo.hop5}}</span><br>
		<h2>Yeast</h2>	
		<span>{{singlerec.userInfo.yeastqty1}}</span>	
		<span>{{singlerec.userInfo.yeast1}}</span><br>
		<span></span>
		<h2>Other</h2>	
		<span>{{singlerec.userInfo.otherqty1}}</span>	
		<span>{{singlerec.userInfo.other1}}</span><br>
		<span>{{singlerec.userInfo.otherqty2}}</span>	
		<span>{{singlerec.userInfo.other2}}</span><br>
		<span>{{singlerec.userInfo.otherqty3}}</span>	
		<span>{{singlerec.userInfo.other3}}</span><br>
		</section><!--inglist-->
		<section class='prepstep' ng-show='singlerec.step === 2'>
			<h1>material preparation</h1>
		<section class='ingbuttonspg'>	
			<a ng-click='singlerec.stepback()'>back</a>
			<a ng-click='singlerec.stepfor()'>next</a>		
		</section><!--ingbuttonspg -->
		<img src='/assets/images/prep.png' class='stepimg'>
		<h2>before starting</h2>
			<ul class='steps'>
				<li>Gather all materials:</li>
			    <li>Calibrated thermometers</li>
			    <li>Yeast packet</li>
			    <li>5 gallon bucket</li>
			    <li>Sanitizer</li>
			    <li>Brew kettle</li>
				<li>Single burner/stove</li>
				<li>Long handled spoon</li>
				<li>All ingredients</li>
				<li>Mash tun</li>
				<li>Irish moss tablets</li>
				<li>Hydrometer</li>
				<li>A few cups and flask</li>
				<li>Copper coils(or your chosen cooling method)</li>
			</ul>
			<h2>steps</h2>	
			<ul class='steps'>
				<li>Pop yeast packet before starting. Leave at room temperature
					for 3-12 hours.</li>
			    <li>Make 5 gallon bucket of sanitizer. Drop all tools in.</li>
			    <li>Bring water in brew kettle to 180 degrees.</li>
			    <li>Fill brew kettle with 3 gallons of water + 1.5qt per 2lbs 
						of grain.</li>
			</ul>	
		<section class='ingbuttonspg'>	
			<a ng-click='singlerec.stepback()'>back</a>
			<a ng-click='singlerec.stepfor()'>next</a>		
		</section><!--ingbuttonspg -->
		</section><!--prepstep-->	
		<section class='mash' ng-show='singlerec.step === 3'>
			<h1>mashing</h1>
			<section class='ingbuttonspg'>	
				<a ng-click='singlerec.stepback()'>back</a>
				<a ng-click='singlerec.stepfor()'>next</a>		
			</section><!--ingbuttonspg -->
			<img src='/assets/images/mash.png' class='stepimg'>
			<h2>before starting</h2>
			<ul class="steps">
			        <li>Have thermometer ready.</li>
			        <li>Have 180 degree water ready.</li>
			        <li>Gather the grains.</li>
			        <li>Sanitize mash tun.</li>
			</ul>		
			<h2>steps</h2>
			<ul class="steps">
			        <li>Add 3 gallons of hot water to mash tun.</li>
			        <li>Stir in the grains slowly.</li>
			        <li>Once all grains are in, take temperature.</li>
			        <li>Add water as needed to hit target temperature range 
							(usually 150-152).</li>
			        <li>START A TIMER FOR 60 MINUTES.</li>
			        <li>Place lid on mash tun and fight the urge to check temperature 
						   	often.</li>
			</ul>		
		<section class='ingbuttonspg'>	
			<a ng-click='singlerec.stepback()'>back</a>
			<a ng-click='singlerec.stepfor()'>next</a>		
		</section><!--ingbuttonspg -->
		</section><!--mash-->	
		<section class='batchsparge' ng-show='singlerec.step === 4'>
				<h1>Sparge</h1>
			<section class='ingbuttonspg'>	
				<a ng-click='singlerec.stepback()'>back</a>
				<a ng-click='singlerec.stepfor()'>next</a>		
			</section><!--ingbuttonspg -->
			<img src='/assets/images/sparge.png' class='stepimg'>
			<h2>before starting</h2>
				<ul class="steps">
						<li class="spar">Have brew kettle ready.</li>	
						<li class="spar">Have hydrometer ready.</li>	
						<li class="spar">Collect large spoon to stir grains.</li>	
				</ul>	
			<h2>steps</h2>
				<ul class="steps">
				        <li class="spar">Drain from mash tun into 
								a cup.</li>
				        <li class="spar">Pour cup on top of the
								mash tun until it contains no sediment.</li>
				        <li class="spar">Drain mash tun into brew kettle without
								disturbing the grain bed until empty.</li>
				        <li class="spar">Add water and stir gently.
						Repeat steps above until brew kettle reaches needed
						volume, typically about 6 gallons for a 5 gallon batch.</li>
						<li class="spar">Take a gravity reading.</li>	
				</ul>	
		<section class='ingbuttonspg'>	
			<a ng-click='singlerec.stepback()'>back</a>
			<a ng-click='singlerec.stepfor()'>next</a>		
		</section><!--ingbuttonspg -->
		</section><!--sparge-->	
		<section class='backtobrew' ng-show='singlerec.step === 5'>
				<h1>boil</h1>	
			<section class='ingbuttonspg'>	
				<a ng-click='singlerec.stepback()'>back</a>
				<a ng-click='singlerec.stepfor()'>next</a>		
			</section><!--ingbuttonspg -->
			<img src='/assets/images/boilwort.png' class='stepimg'>
			<h2>before starting</h2>
				<ul class="steps">
					<li class="brewitem">Collect hops.</li>
					<li class="brewitem">Collect irish moss tablets.</li>
					<li class="brewitem">Gather copper coils, or chosen cooling 
							method.</li>
					<li class="brewitem">About 6 gallonss of wort should now
						   	be in the kettle.</li>
					<li class="brewitem">During the boil there should be NO lid
						on the brew kettle.</li>
				</ul>	
				<h2>steps</h2>
				<ul class="steps">
					<li class="brewitem">Boil, typically for 60 minutes.</li>
					<li class="brewitem">Add hops when recipe requires.</li>
					<li class="brewitem">With 10 minutes remaining in boil time, add
						coils and irish moss to boiling wort.</li>
				</ul>	
		<section class='ingbuttonspg'>	
			<a ng-click='singlerec.stepback()'>back</a>
			<a ng-click='singlerec.stepfor()'>next</a>		
		</section><!--ingbuttonspg -->
		</section><!--backtobrew-->	
		<section class='cooling' ng-show='singlerec.step === 6'>
				<h1>cooling</h1>
			<section class='ingbuttonspg'>	
				<a ng-click='singlerec.stepback()'>back</a>
				<a ng-click='singlerec.stepfor()'>next</a>		
			</section><!--ingbuttonspg -->
			<img src='/assets/images/cool.png' class='stepimg'>
			<h2>before starting</h2>	
				<ul class="steps">
						<li>Ensure everything is sanitized.</li>
						<li>Be careful as you are cooling not to splash or
							return any samples back to the kettle.</li>
				</ul>
				<h2>steps</h2>
				<ul class="steps">
						<li>Carefully and quickly cool wort to 70 degrees or less.</li>
				</ul>
		<section class='ingbuttonspg'>	
			<a ng-click='singlerec.stepback()'>back</a>
			<a ng-click='singlerec.stepfor()'>next</a>		
		</section><!--ingbuttonspg -->
		</section><!--cooling-->	
		<section class='tocarboy' ng-show='singlerec.step === 7'>
				<h1>to the carboy</h1>
			<section class='ingbuttonspg'>	
				<a ng-click='singlerec.stepback()'>back</a>
				<a ng-click='singlerec.stepfor()'>next</a>		
			</section><!--ingbuttonspg -->
			<img src='/assets/images/tocarboy.png' class='stepimg'>
			<h2>steps</h2>
				<ul class="steps">
				        <li>Transfer cooled young beer to carboy and double check
						the temperature.</li>
						<li>While draining to carboy, pull a sample for gravity
						reading and do not pour sample back into carboy.</li>
				</ul>
		<section class='ingbuttonspg'>	
			<a ng-click='singlerec.stepback()'>back</a>
			<a ng-click='singlerec.stepfor()'>next</a>		
		</section><!--ingbuttonspg -->
		</section><!--tocarboy-->	
		<section class='pitchyeast' ng-show='singlerec.step === 8'>
				<h1>pitch yeast</h1>
			<section class='ingbuttonspg'>	
				<a ng-click='singlerec.stepback()'>back</a>
				<a ng-click='singlerec.stepfor()'>next</a>		
			</section><!--ingbuttonspg -->
			<img src='/assets/images/pitchyeast.png' class='stepimg'>
			<h2>before starting</h2>
				<ul class="steps">
						<li>Collect yeast.</li>
						<li>Be extremely careful because any contamination added to 
							the carboy now will remain.</li>
				</ul>
			<h2>steps</h2>
				<ul class="steps">
						<li>Confirm young beer temperature is at target (less 
								than 70 degrees).</li>
						<li>Pour yeast into carboy.</li>
				</ul>
		<section class='ingbuttonspg'>	
			<a ng-click='singlerec.stepback()'>back</a>
			<a ng-click='singlerec.stepfor()'>next</a>		
		</section><!--ingbuttonspg -->
		</section><!--tocarboy-->	
		<section class='movetoferm' ng-show='singlerec.step === 9'>
				<h1>move to fermentation</h1>
				<p>Below you can change the name of the batch and add how many
				days this batch needs to ferment, which is typically 21 days.</p>	
				<h4>{{singlerec.userInfo.recipename}}</h4>
				<form ng-submit='singlerec.ptoferm(singlerec.userInfo)' 
						class='addtoferm'>
					<input type='text' value='{{singlerec.userInfo.recipename}}'
						ng-model='singlerec.userInfo.recipename'>
					<input type='number' id='fdays' 
					ng-model='singlerec.userInfo.days' placeholder='days to ferment'>
					<button class='addtoferm'>
					add to fermentation</button>	
				</form>
		</section><!--movetoferm-->	
		

  

