
		<section class='inglist' ng-show='singlerec.step === 1'>	
		<h1>{{singlerec.userInfo.recipename}}</h1>
		<section class='ingbuttonspg'>	
			<a ui-sref='landing.recipe'>back</a>
			<a ng-click='singlerec.stepfor()'>brew</a>		
		</section><!--ingbuttonspg -->
		<h2>Grains</h2>
		<span>{{singlerec.userInfo.grainqty1}}</span>	
		<span>{{singlerec.userInfo.grain1}}</span><br>	
		<span>{{singlerec.userInfo.grainqty2}}</span>
		<span>{{singlerec.userInfo.grain2}}</span><br>
		<span>{{singlerec.userInfo.grainqty3}}</span>	
		<span>{{singlerec.userInfo.grain3}}</span><br>
		<span>{{singlerec.userInfo.grainqty4}}</span>
		<span>{{singlerec.userInfo.grain4}}</span><br>
		<span>{{singlerec.userInfo.grainqty5}}</span>	
		<span>{{singlerec.userInfo.grain5}}</span><br>
		<h2>Hops</h2>		
		<span>{{singlerec.userInfo.hopqty1}}</span>	
		<span>{{singlerec.userInfo.hop1}}</span><br>
		<span>{{singlerec.userInfo.hopqty2}}</span>	
		<span>{{singlerec.userInfo.hop2}}</span><br>
		<span>{{singlerec.userInfo.hopqty3}}</span>	
		<span>{{singlerec.userInfo.hop3}}</span><br>
		<span>{{singlerec.userInfo.hopqty4}}</span>	
		<span>{{singlerec.userInfo.hop4}}</span><br>
		<span>{{singlerec.userInfo.hopqty5}}</span>	
		<span>{{singlerec.userInfo.hop5}}</span><br>
		<h2>Yeast</h2>	
		<span>{{singlerec.userInfo.yeastqty1}}</span>	
		<span>{{singlerec.userInfo.yeast1}}</span><br>
		<span></span>
		<h2>Other</h2>	
		<span>{{singlerec.userInfo.otherqty1}}</span>	
		<span>{{singlerec.userInfo.other1}}</span><br>
		<span>{{singlerec.userInfo.otherqty2}}</span>	
		<span>{{singlerec.userInfo.other2}}</span><br>
		<span>{{singlerec.userInfo.otherqty3}}</span>	
		<span>{{singlerec.userInfo.other3}}</span><br>
		</section><!--inglist-->
		<section class='prepstep' ng-show='singlerec.step === 2'>
			<h1>material preperation</h1>
		<section class='ingbuttonspg'>	
			<a ng-click='singlerec.stepback()'>back</a>
			<a ng-click='singlerec.stepfor()'>next</a>		
		</section><!--ingbuttonspg -->
			<ul>
				<li>Pop Yeast packet before starting.(3-12hrs @ room temp)</li>
			    <li>calibrate thermometers</li>
			    <li>Make 5 Gal Bucket of Sanitizer.</li>
			    <li>Fill brew kettle with 3gals of water + 1.5qt per 2lbs of grain</li>
			    <li>Sanitize mash tun, spoon, and everything else</li>
			    <li>Bring water in Brew kettle to 180 degrees</li>
			</ul>	
		</section><!--prepstep-->	
		<section class='mash' ng-show='singlerec.step === 3'>
			<h1>mashing</h1>
			<section class='ingbuttonspg'>	
				<a ng-click='singlerec.stepback()'>back</a>
				<a ng-click='singlerec.stepfor()'>next</a>		
			</section><!--ingbuttonspg -->
			<ul class="mashing">
			        <li>Add 3 gallons of hot water to mash tun</li>
			        <li>Stir in the grains slowly</li>
			        <li>Once all grains are in take temperature</li>
			        <li>Add water as needed to hit target range(usally 150-152)</li>
			        <li>START A TIMER FOR 60 MINUTES</li>
			</ul>		
		</section><!--mash-->	
		<section class='batchsparge' ng-show='singlerec.step === 4'>
				<h1>Sparge</h1>
			<section class='ingbuttonspg'>	
				<a ng-click='singlerec.stepback()'>back</a>
				<a ng-click='singlerec.stepfor()'>next</a>		
			</section><!--ingbuttonspg -->
				<p>We are using batch sparge because that is the most efficient
				for new brewers.</p>
				<ul class="spargelist">
				        <li class="spar">drain from mash tun into 
								a cup of some kind</li>
				        <li class="spar">pour this drained liquid on top of the
								mash tun until it contains no sediment</li>
				        <li class="spar">drain mash tun into brew kettle without
								disturbing the grain bed</li>
				        <li class="spar">add water stirl lightly, not violently
						and repeat steps 1-4 until brew kettle reaches needed
						volume. (typically about 6 gallons for a 5 gallon batch)</li>
						<li class="spar">Take a gravity reading. REPORT</li>	
				</ul>	
		</section><!--sparge-->	
		<section class='backtobrew' ng-show='singlerec.step === 5'>
				<h1>boil</h1>	
			<section class='ingbuttonspg'>	
				<a ng-click='singlerec.stepback()'>back</a>
				<a ng-click='singlerec.stepfor()'>next</a>		
			</section><!--ingbuttonspg -->
				<ul class="brewket">
					<li class="brewitem">Boil.(tyically for 60 minutes)</li>
					<li class="brewitem">TIMER!</li>
					<li class="brewitem">add hops at appropriate times</li>
					<li class="brewitem">add irish moss tablets at 10 minutes 
							left</li>
				</ul>	
		</section><!--backtobrew-->	
		<section class='cooling' ng-show='singlerec.step === 6'>
				<h1>cooling</h1>
			<section class='ingbuttonspg'>	
				<a ng-click='singlerec.stepback()'>back</a>
				<a ng-click='singlerec.stepfor()'>next</a>		
			</section><!--ingbuttonspg -->
				<p>you want to cool the wort as quickly as possible to get it 
				below 70 degrees</p>
				<ul class="cooling">
				        <li>move cooled young beer to carboy, double check
						temperature.</li>
						<li>during drain to carboy pull a sample for gravity
						reading, do not pour sample back into carboy, 
						discard</li>
				        <li>pitch yeast</li>
				</ul>
		</section><!--cooling-->	
		<section class='movetoferm' ng-show='singlerec.step === 7'>
				<h1>move to fermentation</h1>
				<h4>{{singlerec.userInfo.recipename}}</h4>
				<form ng-submit='singlerec.ptoferm(singlerec.userInfo)' 
						class='addtoferm'>
					<input type='text' value='{{singlerec.userInfo.recipename}}'
						ng-model='singlerec.userInfo.recipename'>
					<label for='fdays'>Days to ferment</label>
					<input type='number' id='fdays' ng-model='singlerec.userInfo.days'>
					<button class='addtoferm'>
					add recipe to fermentation</button>	
				</form>
		</section><!--movetoferm-->	
		

  

